*{
    margin: 0px;
    padding: 0%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    padding: 20px;
}
.container {
    background-color: black;
    padding: 30px;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.card {
    height: 200px;
    width: 200px;
    background-color: rgb(109, 108, 108);
    padding: 20px;
    border-radius: 5px;
    text-align: center;

}
input{
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: rgb(97, 96, 96);
    margin-top: 10px;
}
.moneda {
    font-size: 12px;
    margin-top: 20px;
}
select{
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: rgb(97, 96, 96);
    margin-top: 5px;

}
button{
    width: 180px;
    height: 30px;
    border: solid 1px  rgb(13, 114, 214);
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    margin-top: 10px;

}
.result {
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}
.graph{
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 20px;
}